.footer {
  padding-left: 20px;
}

.maps {
  display: block;
  width: 100%;
  height: 50vh;
}
.maps1 {
  margin-left: 15px;
  margin-right: 15px;
}

.maps2 {
  background-color: #040919;
  /* padding-top: 10%; */
}
#mapt{
  color: white;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
}
